# Dependencies
node_modules/
.pnp
.pnp.js

# Frontend builds
dist/
build/

# Testing
coverage/

# Production
.env
.env.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
db.sqlite3

# Django
*.log
local_settings.py
